@tailwind base;
@tailwind components;
@tailwind utilities;

:root { @apply 
    text-gray-800
    bg-white
    select-none
    overflow-hidden
}

#app { @apply
    px-10
    ;

  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

:root, dialog {
    --bg-color: #73AEEA;
    --button-size: 36px;
}

dialog {

  h1 { @apply
      text-xl
      uppercase
      font-bold
      text-center
      mb-3 
      text-gray-600
  }

}

button { @apply 
    text-white
    bg-sky-600 
    rounded-md 
    py-2 px-7 
    hover:brightness-125 
    active:relative active:top-[1px] active:left-[1px] 
    transition duration-300
    disabled:opacity-50
    disabled:pointer-events-none
}

input, select { @apply 
    p-2 
    bg-white 
    border border-gray-300 rounded-md 
}

.round-button { @apply
    bg-white
    absolute 
    rounded-full 
    border border-[color:var(--bg-color)]
    h-[var(--button-size)] w-[var(--button-size)]
    cursor-pointer
    hover:shadow-md
    ;
    svg { @apply
        pointer-events-none
        absolute
        top-[50%]
        left-[50%]
        mt-[-12px]
        ml-[-12px]
    }
}